{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which activities do you need assistance with? – Prototype 1 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/prototype-1/responding-on-behalf-of"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/prototype-1/your-age" method="post">

        {{ govukCheckboxes({
          name: "prototype1__activitiesNeedAssistance",
          fieldset: {
            legend: {
              text: "Which activities do you need assistance with?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
        values: data['prototype1__activitiesNeedAssistance'],
          items: [
            {
              value: "Cleaning",
              text: "Cleaning"
            },
            {
              value: "Communication",
              text: "Communication"
            },
            {
              value: "Cooking",
              text: "Cooking"
            },
            {
              value: "Cost Saving",
              text: "Cost Saving"
            },
            {
              value: "Creating",
              text: "Creating"
            },
            {
              value: "Ergonomics",
              text: "Ergonomics"
            },
            {
              value: "Exercise",
              text: "Exercise"
            },
            {
              value: "Finance Management",
              text: "Finance Management"
            },
            {
              value: "Health",
              text: "Health"
            },
            {
              value: "Household Management",
              text: "Household Management"
            },
            {
              value: "Kitchen and Dining",
              text: "Kitchen and Dining"
            },
            {
              value: "Life Admin",
              text: "Life Admin"
            },
            {
              value: "Nutrition",
              text: "Nutrition"
            },
            {
              value: "Organisation",
              text: "Organisation"
            },
            {
              value: "Personal Care",
              text: "Personal Care"
            },
            {
              value: "Productivity",
              text: "Productivity"
            },
            {
              value: "Reading",
              text: "Reading"
            },
            {
              value: "Relaxation",
              text: "Relaxation"
            },
            {
              value: "Safety",
              text: "Safety"
            },
            {
              value: "Social Support",
              text: "Social Support"
            },
            {
              value: "Exercise",
              text: "Exercise"
            },
            {
              value: "Study and Learning",
              text: "Study and Learning"
            },
            {
              value: "Transport",
              text: "Transport"
            },
            {
              value: "Waking or Sleeping",
              text: "Waking or Sleeping"
            },
            {
              value: "Writing",
              text: "Writing"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
