{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – Prototype 1 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prototype-1/your-postcode"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Are you responding on behalf of yourself or somebody else?"
            },
            value: {
              text: data['prototype1__respondingOnBehalfOf']
            },
            actions: {
              items: [
                {
                  href: "/prototype-1/responding-on-behalf-of",
                  text: "Change",
                  visuallyHiddenText: "Are you responding on behalf of yourself or somebody else?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Which activities do you need assistance with?"
            },
            value: {
              text: data['prototype1__activitiesNeedAssistance'].join(", ") if data['prototype1__activitiesNeedAssistance'] else "No activities selected"
            },
            actions: {
              items: [
                {
                  href: "/prototype-1/activities-need-assistance",
                  text: "Change",
                  visuallyHiddenText: "Which activities do you need assistance with?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is your age?"
            },
            value: {
              text: data['prototype1__yourAge']
            },
            actions: {
              items: [
                {
                  href: "/prototype-1/your-age",
                  text: "Change",
                  visuallyHiddenText: "What is your age?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What needs do you have that may require assistance?"
            },
            value: {
              text: data['prototype1__needsRequireAssistance'].join(", ") if data['prototype1__needsRequireAssistance'] else "No needs selected"
            },
            actions: {
              items: [
                {
                  href: "/prototype-1/needs-require-assistance",
                  text: "Change",
                  visuallyHiddenText: "What needs do you have that may require assistance?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Where are the activities you need help with taking place?"
            },
            value: {
              text: data['prototype1__whereIssueTakingPlace'].join(", ") if data['prototype1__whereIssueTakingPlace'] else "No needs selected"
            },
            actions: {
              items: [
                {
                  href: "/prototype-1/where-issue-taking-place",
                  text: "Change",
                  visuallyHiddenText: "Where are the activities you need help with taking place?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is your postcode?"
            },
            value: {
              text: data['prototype1__yourPostcode']
            },
            actions: {
              items: [
                {
                  href: "/prototype-1/your-postcode",
                  text: "Change",
                  visuallyHiddenText: "What is your postcode?"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/prototype-1/results" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
