{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your age? – Prototype 1 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/prototype-1/activities-need-assistance"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/prototype-1/needs-require-assistance" method="post">

        {{ govukInput({
          label: {
            text: "What is your age?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "prototype1__yourAge",
          name: "prototype1__yourAge",
          value: data['prototype1__yourAge']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
