{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your age? – Prototype 1 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/prototype-1/activities-need-assistance"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/prototype-1/needs-require-assistance" method="post">

        {{ govukRadios({
          name: "prototype1__yourAge",
          fieldset: {
            legend: {
              text: "What is your age?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data['prototype1__yourAge'],
          items: [
            {
              value: "<18",
              text: "<18"
            },
            {
              value: "18-24",
              text: "18-24"
            },
            {
              value: "25-30",
              text: "25-30"
            },
            {
              value: "30-40",
              text: "30-40"
            },
            {
              value: "40-50",
              text: "40-50"
            },
            {
              value: "50-64",
              text: "50-64"
            },
            {
              value: "65+",
              text: "65+"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
